@{
    ViewData["Title"] = "About";
}

<html>
    <body>
        <h1 class="display-5">About Warren G Electricity</h1>
        <p class="about">
            Warren Guertin has been an electrician for 10 years now, but it hasnt always been that way. 
            He worked really hard to get into the best electrical apprenticeship in the United States and 
            it has been a natural talent of his ever since. 
            His dream since becoming an electrician has always been to have his own company with good values and a good team. 
            Warren and his team have known each other since they were in the beginning of their careers and quickly
            became a close knit family. Doing outstanding work with affordable options will always be a part of 
            this companys mission.
            </br>
            At Warren G Electricity, we realize that our customers have
            many options when selecting an electrical service provider. We are
            committed to being your electrical service provider of choice. Thank
            you for taking the time to learn about our company, our product and
            service offerings, and the many ways we may be a solution provider
            to you.
            </br>
        </p>

        <h2 class="display-5">Our Mission</h2>
        <p class="about">
            Using the highest ethical standards, we promise to provide the best electrcial solutions for our customers 
            through QUALITY, VALUE, and SERVICE. We strive to implement a long term relationship with our customers, based on safety, 
            honesty, prompt service, and anticipating our customers needs.
        </p>
        </br>
        </br>

    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <p>Bonded | Insured | Licensed</p>
                <p>FULLEEI111MK | FULLEEI222MO</p>
            </div>
            <div class="col">
                <p>Business Hours</p>
                <p>Mon-Fri | 7am - 5pm</p>
                <p>Sat & Sun | Appointment Only</p>
                <p>Phone: (253) 555-1234</p>
            </div>
            <div class="col">
                <p>Connect With Us!</p>
                <img class="connect" src="/images/connect.jpg" />
            </div>
        </div>
    </div>
    </body>
</html>
