@{
    ViewData["Title"] = "Home";
}

<h1 class="display-1">Welcome</h1>
<h1 class="display-3">to Warren G Electricity!</h1>

<h1 class="display-4">Residential & Commercial</h1>
<h2 class="display-5">Electrical Repairs | Remodels & Retrofits | New Construction</h2>
<button type="button" class="btn btn-outline-primary btn-lg">Schedule a Consultation</button>

<h3 class="display-5">Wire you waiting?</h3>
@*add link to "click here" to about page*@
<h3 class="display-6">Click here to learn more about us</h3>

<h3 class="display-5">What our cliets are saying...</h3>
<h3 class="display-6">(Our personal high fives)</h3>
@*// add customer reviews with stars*@

<h4 class="display-5">Electrical Experts in Washington</h4>
<p>Our business is built on efficient, effective,
    and affordable service. We are committed to providing excellent
    electrical services to our clients, whether residential, commercial, 
    or industrial.
</p>
<p>We cover everything from new wiring to electrical maintenance
    and troubleshooting. Whatever you need, we have a solution at a 
    price you'll love.
</p>

<h4 class="display-5">Areas We Serve -</h4>
<ul>
    <li class="list-group-item">Tacoma</li>
    <li class="list-group-item">Federal Way</li>
    <li class="list-group-item">Fife</li>
    <li class="list-group-item">Seattle</li>
    <li class="list-group-item">Edgewood</li>
    <li class="list-group-item">Milton</li>
    <li class="list-group-item">Puyallup</li>
    <li class="list-group-item">Olympia</li>
</ul>
<p>... and surrounding areas in Western Washington</p>

